.match-card-container {
    height: 120px;
    max-width: 30%;
    min-width: 110px;
    flex-grow: 1;
    background-color: rgba(57, 49, 49, 0.7);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 6px;
    color: white;
    @media screen and (max-width:750px) {
        height: 160px;
    }
    .details {
        flex-grow: 4;
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        .team-details{
            flex-grow: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .team {
                display: flex;
                align-items: center;
                >div{
                    display: flex;
                    align-items: center;
                    height: 100%;
                    img{
                        width: 20px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .time-details{
            max-width: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span{
                &:first{
                    margin-bottom: 10px;
                }
            }
            @media screen and (max-width:750px) {
                display: none;
            }
        }
        @media screen and (max-width:750px) {
           padding: 0;
        }
    }
    .time-mobile {
        display: none;
        @media screen and (max-width:750px) {
            display: block;
            padding: 10px 0;
            text-align: center;
            color: #afafaf;
        }
    }
    .predict-button {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            height: 28px;
            background: #fe4066;
            color: #ffffff;
            border-radius: 6px;
            font-size: 12px;
            width: 80px;
            border-color: #fe4066;
        }
    }
}